//COPY TO secret.js
const SECRET = {
    EMAIL_API_KEY: "Your postmail.invotes.com api key here",
    TWILLO_USR: "Your Twillo Account SID here",
    TWILLO_PWD: "Your Twillo Auth token here",
    TWILLO_FROM: "Your Twillo phone number here",
    TWILLO_TO: "Your target phone number here"
}
module.exports = SECRET;